
.pagecontainer
  
  
  = render "header" 


  .pagecontainer__main

    .contentswrapper

      .content
        =link_to image_tag('phpapp.png', alt: "画像", class:"imagelink", size:"300x200"),  "https://intense-mesa-88579.herokuapp.com/", class: "", target: "_blank"
        %p.text phpとlaravelの練習をしながら作ったシンプル過ぎるアプリ。現在herokuに簡易的に上げている。これをdockerを使ったデプロイの実験台にする予定。
        %br
        =link_to "FreeMenta", "https://intense-mesa-88579.herokuapp.com/", target: "_blank"
       


      .content
        =link_to image_tag('5portfolioapp.png', alt: "画像", class:"imagelink", size:"300x200"), "http://18.180.245.39/", class: "", target: "_blank"
        %p 個人アプリ。無在庫王 MUZAIKO
        =link_to "デプロイ先（AWS）", "http://18.180.245.39/", target: "_blank"
        %br
        =link_to "githubのurl", "https://github.com/programmingdogw/5portfolioapp", target: "_blank"

      .content
        =link_to image_tag('portfoliopicturefurima.jpg', alt: "画像", class:"imagelink", size:"300x200"), "http://18.180.118.52", class: "", target: "_blank"
        %p チーム開発フリマアプリ
        =link_to "デプロイ先(AWS)", "http://18.180.118.52", target: "_blank"
        %br
        ユーザー名: admin
        %br
        パスワード: 2222
        %br
        =link_to "githubのurl(フォーク前)", "https://github.com/irohaas/freemarket_sample_66d", target: "_blank"
        %br
        =link_to "githubのurl(フォーク後)", "https://github.com/programmingdogw/freemarket_sample_66d", target: "_blank"

      
      
        
    .contentswrapper

      .content
        =link_to image_tag('portfoliopicturechatspace.png', alt: "画像", class:"imagelink", size:"300x200"), "https://github.com/programmingdogw/chat-space", class: "", target: "_blank"
        %p chatspace(カリキュラムにて作成)
        %p.textp 一度AWSにデプロイしましたが、ElasticIP解放したので現在デプロイはしていません
        =link_to "githubのurl", "https://github.com/programmingdogw/chat-space", target: "_blank"

      .content
        =link_to image_tag('portfoliopicturepictweet.jpg', alt: "画像", class:"imagelink", size:"300x200"), "https://github.com/programmingdogw/pictweet", class: "", target: "_blank"
        %p pictweet(カリキュラムにて作成) 
        %br こちらはデプロイはしておりません
        =link_to "githubのurl", "https://github.com/programmingdogw/pictweet", target: "_blank"


      .content
        =link_to image_tag('portfoliopictureyourlife.jpg', alt: "画像", class:"imagelink", size:"300x200"),  "https://afternoon-scrubland-33526.herokuapp.com/", class: "", target: "_blank"
        %p 初めての個人アプリYourLife
        %p.textp 挙動確認はできますが,S3設定をしていないのでdyno再起動毎に画像は消えます。詳しくはRead.meをご覧ください。
        =link_to "デプロイ先(heroku)", "https://afternoon-scrubland-33526.herokuapp.com/", target: "_blank"
        %br
        =link_to "githubのurl", "https://github.com/programmingdogw/6myapp", target: "_blank"

    .additionalcontents
      .simplebar
      .selfintroduction 
        = image_tag('career.png')
        - text = "渡辺公平34歳\n早稲田大学国際教養学部中退後、１０年近く塾講師を続けるも一念発起してエンジニアとして転職することを決意。\n半年ほどプログラミングスクールTech :: Expertに通い2020年５月２３日に修了。現在就職活動中。\n現在はphpとlaravelでのアプリ作りに挑戦し、dockerを使ってデプロイしたいと思っている。"
        = simple_format text
       
        %br
        %br
        = image_tag('selfintrologo.png')
        - text = "人に教えるのも良いですが、これからは自分が学ぶことに力を傾けたいと思っております。日々新しいことを学ぶことが肝要なエンジニアという職業に強い魅力を感じているおり、良いご縁があることを切に願っている次第です。"
        = simple_format text
        %br
        -# %br
        -# = image_tag('theothers.png')
        -# -# %p はてなブログやteratrailsのurlを載せておきます。主にはてなブログを後で見返すために自分用メモとして使っているだけです。
        -# %p あくまで自分向けの呟きなので、人に向けた発信ではないことをご了承ください。
        -# %p (勉強を始めてからの過程が気になる方もいるかと思い、念のため載せています)
        -# =link_to "はてなブログ", "https://programmingdog.hatenablog.com/"
        -# %br
        -# =link_to "teratail", "https://teratail.com/questions/247938#reply-359366"






  = render "footer"